wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/et-cache/
wp-content/languages/
wp-content/plugins/hello.php
wp-content/plugins/index.php
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/wordfence-waf.php
wp-content/wflogs/
wp-content/ai1wm-backups/
wp-content/elementor/

wp-admin/
wp-includes/

wp-config.php
wp-config-sample.php
.htaccess

*.log
*.sql
*.zip

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

