# Archivos y carpetas generados por WordPress
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/et-cache/
wp-content/languages/
wp-content/plugins/hello.php
wp-content/plugins/index.php
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/wordfence-waf.php
wp-content/wflogs/
wp-content/ai1wm-backups/
wp-content/elementor/

# Archivos de configuración y secretos (¡nunca los incluyas en un repositorio público!)
wp-config.php
wp-config-sample.php
.htaccess

# Archivos temporales
*.log
*.sql
*.zip

# Archivos generados por IDEs o editores de texto
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependiendo de tu entorno, puedes agregar más exclusiones aquí